/* initiallizing all DOM element styles  */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
h1{
  font-size: 2.5rem;
  font-weight: 800;
}
h2{
  font-size: 1.5rem;
  font-weight: 700;
}
p{
  font-size: 18px;
  font-weight: 500;
}
/* creating my color variables  */
:root{
  --Light-red:hsl(0, 100%, 67%);
  --Orangey-yellow:hsl(39, 100%, 56%);
  --Green-teal:hsl(166, 100%, 37%);
  --Cobalt-blue:hsl(234, 85%, 45%);
  --light-gradient:hsl(252, 100%, 67%);
  --dark-gradient:hsl(241, 81%, 54%);
  --violet:hsla(256, 72%, 46%, 1);
  --persian:hsla(241, 72%, 46%, 0);
  --white:hsl(0, 0%, 100%);
  --pale-shadow:hsl(221, 100%, 96%);
  --light-lavender:hsl(241, 100%, 89%);
  --dark-grey-blue:hsl(224, 30%, 27%);
  --font-family:'Hanken Grotesk';
}
body{
  padding: 100px;
}
.container{
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.result-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55vw;
  height: 80vh;
  border-radius: 40px;
  margin-bottom: 80px;
}
.result-overview, .result-summary{
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

/* styles for right div  */

.result-overview{
  background-image: linear-gradient(180deg,  var(--light-gradient) 10%,  var(--dark-gradient) 90%);
  border-radius: 40px;
  box-shadow: 0px 15px 10px var(--pale-shadow);
  justify-content: space-around;
  padding: 20px 10px;
  flex-direction: column;
  position: relative;
}
.overview-title{
  font-family: var(--font-family);
  text-transform: capitalize;
  font-weight: 500;
  color: var(--light-lavender);
}
.score-container-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: linear-gradient(180deg, var(--violet) 10%, var(--persian) 90%);
}
.score-container-circle h1{
  color: var(--white);
  font-size: 3rem;
}
.score-container-circle p {
  color: var(--light-lavender);
}
.remark-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  text-align: center;
}
.remark-container h2{
  color: var(--white);
  margin-bottom: 5px;
}
.remark-container p{
  color: var(--light-lavender);
}

/* styles for right div starts here  */

.result-summary{
  border-radius: 0px 40px 40px 0px;
  box-shadow: 0px 15px 10px var(--pale-shadow);
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
}
.result-summary h2{
  color: var(--dark-grey-blue);
  align-self: flex-start;
}
.score-tab{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:15px;
  border-radius: 10px;
  margin: 10px 0px;
}
.first-tab{
  color: var(--Light-red);
  background-color: hsla(0, 100%, 96%, 0.769);
}
.second-tab{
  color: var(--Orangey-yellow);
  background-color: hsla(37, 100%, 93%, 0.798);
}
.third-tab{
  color: var(--Green-teal);
  background-color: hsl(165, 80%, 92%);
}
.fourth-tab{
  color: var(--Cobalt-blue);
  background-color: hsl(234, 95%, 92%);
}
.score-tab span {
  font-weight: 500;
}
.score-tab-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.continue-btn{
  width: 100%;
  padding: 15px;
  color: var(--white);
  font-weight: 700;
  background-color: var(--dark-grey-blue);
  border-radius: 12rem;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.continue-btn:hover{
  background-image: linear-gradient(180deg, var(--light-gradient) 10%, var(--dark-gradient) 90%);
}
.continue-btn:active{
  background-image: linear-gradient(180deg, var(--light-gradient) 10%, var(--dark-gradient) 90%);
}
.active{
  color: var(--dark-grey-blue);
}
.active strong{
  color:hsl(0, 0%, 0%) ;
}

/* mobile screen styles starts here  */

@media screen and (max-width: 375px){
  body{
      padding: 0px;
  }
  .result-container {
         flex-direction: column;
         height: auto;
         width: 100vw;
      }
  
      .result-overview,
      .result-summary {
          flex: 1;
          height: auto;
          display: flex;
          align-items: center;
          width: 100%;
      }
      .result-summary{
          border-radius: 0px 0px 40px 40px;
      }
      .result-overview{
          border-radius: 0px 0px 40px 40px;
          height: auto;
      }
      .score-container-circle{
          width: 150px;
          height: 150px;
          margin: 30px 0px;
      }
      .remark-container{
          width: 80%;
      }
      .score-tab{
          margin: 10px 0px;
      }
      .attribution{
          text-align: center;
      }
}
